<mat-toolbar class="!bg-black  !px-6  flex items-center justify-between">
  <!-- Add Nest Button -->
  <button mat-icon-button (click)="createNewNest()" title="Add Nest" class="mr-3">
    <mat-icon class="!text-white text-xl">add_circle</mat-icon>
  </button>

  <!-- Search Field -->
  <div class="flex items-center flex-1 justify-end gap-2 w-full max-w-xs sm:max-w-sm md:max-w-md">
    <mat-icon class="!text-white text-xl hidden sm:inline-flex">search</mat-icon>
    <input [formControl]="searchControl" type="search"
      class="w-full bg-transparent border-none outline-none text-white placeholder-white" placeholder="Search" />
  </div>


  <!-- Logout Button -->
  <button mat-icon-button (click)="logout()" title="Logout" class="ml-4">
    <mat-icon class="!text-white text-xl">logout</mat-icon>
  </button>
</mat-toolbar>
<button mat-icon-button (click)="sidenav.toggle()">
  <mat-icon class="!text-black text-xl">menu</mat-icon>
</button>
<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="w-64 px-2">
    <mat-nav-list>

      <h2 class="text-center font-bold my-4">My Nests ({{ (filteredNests$ | async)?.length }})</h2>
      @for (nest of filteredNests$ | async; track nest.id) {
      <mat-list-item [ngClass]="{
        'selected-nest': (selectedNest$ | async)?.id === nest.id,
        'list-item': true
      }" (click)="setActiveNest(nest); $event.stopPropagation()">
        <div class="flex items-center justify-between w-full px-2 py-3">
          <span>{{ nest.title }}</span>

          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="setActiveNest(nest); $event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="p-4">

    <app-nest-content [nest]="selectedNest$ | async" (nestChanged)="onNestChanged($event)"></app-nest-content>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- Menu for Edit/Delete -->
<mat-menu #menu="matMenu">
  <!--   <button mat-menu-item (click)="openAddNestDialog(selectedNest$.getValue())" title="Edit">
    <mat-icon>edit</mat-icon> Edit
  </button> -->
  <button mat-menu-item (click)="deleteNest(selectedNest$.getValue()?.id)" title="Delete">
    <mat-icon>delete</mat-icon> Delete
  </button>
</mat-menu>