/* * {
    outline: 1px solid red;
  }  */
:host {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
}

h2 {
    color: #222;
}

.quill-editor {
    resize: both;
    overflow: auto;
    width: 100%;
    background: white;
    margin-top: 15px;
}

button {
    max-width: 100px;

}

.save-button {
    display: flex;
    justify-content: flex-start;
}