@if(nest){
<div class="flex flex-col gap-4 p-4">
  <form class="flex flex-col gap-4" (ngSubmit)="saveNest()" autocomplete="off">
    <input [(ngModel)]="title" name="title" required inputmode="text" placeholder="Title"
      class="px-4 py-2 rounded-xl bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800 placeholder-gray-500 shadow-sm transition duration-200" />
    <quill-editor [(ngModel)]="content" [placeholder]='"Start writing here..."'  name="content" (onContentChanged)="adjustEditorHeight($event)"  (onEditorCreated)="adjustEditorHeight($event)"></quill-editor>
    <div class="flex items-end justify-end">
      <button type="submit" [disabled]="!title.trim()" title="Update Nest"
        class="flex items-center justify-center gap-2 px-4 py-2 bg-blue-600 hover:bg-blue-700 disabled:bg-gray-400 text-white font-semibold rounded-xl shadow-md transition duration-200 ease-in-out text-lg">
        <mat-icon class="text-white text-2xl">edit</mat-icon>
      </button>
    </div>
  </form>
</div>
}